<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>OSIS SMA</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/konten.css}" rel="stylesheet"/>
	<link th:href="@{/css/default.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/home.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/plugins/morris.css}" rel="stylesheet"/>
	<link th:href="@{/css/modal.css}" rel="stylesheet" media="screen"/>
    <!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body style="background: white;">

    <div id="wrapper">

        <!-- Navigation -->
              <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
				<ul class="nav navbar-nav navbar-left">
                	<li><img width="40" class="lib-img-show" src="image/osis_sma.png"/></li>              
                	<li><a class="navbar-brand" href="/">OSIS SMA</a></li>
                </ul>
            </div>
            <!-- Top Menu Items -->
            <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                     <li class="active"><a href="/">Home</a>
           			  </li>
        
        <li class="dropdown">
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pengumuman <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-university"></i> Lihat Pengumuman</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-arrows"></i> Buat Pengumuman</a>
                            </li>
                           
                        </ul>
                      </li>
                      
                      
                      
                      <li class="dropdown">
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Polling <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-university"></i> Ikuti Polling </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-arrows"></i> Tambahkan Polling </a>
                            </li>
                            
                             <li>
                                <a href="#"><i class="fa fa-fw fa-arrows"></i> Hasil Polling </a>
                            </li>
                           
                        </ul>
                      </li>
                      
                      
                      
              		<li class="dropdown">
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-university"></i>Ikuti Forum</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-arrows"></i> Tambahkan Forum</a>
                            </li>
                           
                        </ul>
                      </li>
        

                      
                    </ul>
                    <ul class="nav navbar-right top-nav">
                    	<li>
                            <a href="/login" data-target="#squarespaceModal"> Login</a>
                        </li>
                    </ul>
             </div>
        </nav>
      </div> 
      
        <div id="page-wrapper">
			<div class="row">
				 <div class="col-lg-2">
                	</div>	
                	
                	 <div class="col-lg-8">
                    <h1 class="page-header" th:text="${berita.judul_berita}">
                        
                     </h1><br/>
                     <img th:src="${'/image/berita/'+berita.foto}" alt="" style="width:100%;height:30em"/>
                     <br/><br/>
                    <div class="entry-content clearfix">
                    	<p th:utext="${berita.isi_berita}"></p>
					</div><!-- end .entry-content -->
				
                  </div>
             </div><br/>
            
      </div>
 
 	
 	<!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
 </body>
 </html>