<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="layout :: head">
</head>
<body style="background: white;">
	<div id="wrapper">
        <!-- Navigation -->
        <div th:replace="layout :: nav"></div>
        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
               
                <div class="row">
                    <div class="col-lg-12">
                     <br/>
                <br/>
                <br/>
                        <h1 class="page-header">
                        
               
                            Daftar Anggota OSIS SMA
                        </h1>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                        <div th:if="${alertTrue}" class="alert alert-success">
						  <strong>Sukses!</strong> Siswa berhasil dihapus
						</div>
                        <div th:if="${not #lists.isEmpty(daftarSiswa)}">
							<table class="table table-striped">
					  			<tr>
					  				<th>Nama</th>
					  				<th>Siswa</th>
					  				<th>Aksi</th>
					  			</tr>
					  			<tr th:each="siswas : ${daftarSiswa}">
					  				<td th:text="${siswas.nama}"></td>
					  				<td>
					  					<a th:href="${'/siswa/lihat/'+siswas.id}" class="btn btn-primary">Lihat</a>
					  				</td>
					  				<td>
					  					<a th:href="${'/siswa/delete/'+siswas.id}" class="btn btn-primary" style="background-color: #f44336;">Delete</a>
					  				</td>
					  			</tr>
					  			
							</table>
							
						</div>
                    </div>
                    	
                </div>
                <!-- /.row -->
        		</div>
        		
        	
          </div>
      </div>
 	
 	<!-- jQuery -->
	<div th:replace="layout :: script"></div>
	
</body>
</html>