<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="layout :: head">
</head>

<body style="background: white;">

    <div id="wrapper">

        <!-- Navigation -->
        <div th:replace="layout :: nav"></div>
        
        <div id="page-wrapper">

            <div class="container-fluid">
		
                <!-- Page Heading -->
                <div class="row">
                	<div class="col-lg-1">
                           <img width="90" class="lib-img-show" src="/image/osis_sma.png"/>
                     </div>
                    <div class="col-lg-9">
                        <h1 class="page-header">
                            OSIS SMA 
                        </h1>
                      </div>
                  </div><br/>
                  <div class="row">
                      <div class="col-lg-7">
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-clock-o"></i> Semua Kategori Forum
                            </li>
                        </ol>
                    </div>
                    
                </div>
                <!-- /.row -->
             
					<div class="row">
            			<div class="col-lg-7  lib-item" data-category="view">
                			<div class="lib-panel" th:each="forums : ${allForum}">
                    			<div  class="row box-shadow">
                    			
	                        		<div class="col-md-6">
	                            		<div class="lib-row lib-header">
	                                		<h3 th:text="${forums.judul}"></h3>
	                                		 <i><b><h5 th:text="${forums.judul}"></h5></b></i>
	                                		<div class="lib-header-seperator"></div>
	                            		</div><br/><br/>
	                            		
	                        		</div><br/><br/>
                        		<div class="col-md-6">
	                            		<div class="lib-row lib-header">
	                                		<h3 th:text="${forums.nama}"></h3>
	                                		 <i><b><h5 th:text="${forums.nama}"></h5></b></i>
	                                		<div class="lib-header-seperator"></div>
	                            		</div><br/><br/>
	                            		
	                        		</div>
                    			</div>
                		</div>
                		<br/>
                		<div class="text-left">
                             <a href="/all/berita">Lihat Semua Forum <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                		<hr/>
                		
            		</div>
        		</div>
        		
        	
          </div>
      </div>
 </div>
 	
 	<div th:replace="layout :: script"></div>
	
 </body>
 </html>