<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
	<link th:href="@{/css/teks.css}" rel="stylesheet"/>
</head>

<body style="background : white;">

    <div id="wrapper">

        <!-- Navigation -->
        <div th:replace="layout :: nav"></div>
      </div> 
      
        <div id="page-wrapper">
			<div class="row">
				 <div class="col-lg-2">
                	</div>		
				
                 <div class="col-lg-8">
                    <h3 class="page-header" style="color:blue;" th:text="${pengumuman.judul_pengumuman}">
                     </h3>
                     <img src="image/del.jpg" alt="" style="width:100%;height:30em"/>
                    <div  class="excerpt">
						<p th:utext="${pengumuman.isi_pengumuman}"></p>
					</div><!-- end .entry-content --><br/><br/>
					<table th:if="${pengumuman.file_path}" class="table">
		              <thead>
		                <th>Nama File:</th>
		              </thead>
		              <tbody>
		                  <tr>
		                    <td><a th:href="${'/file/'+pengumuman.file_path}"  th:text="${pengumuman.file_path}"></a></td>
		                   </tr>
		              </tbody>
		            </table>
                  </div>
             </div><br/>
            
      </div>
 
 	<!-- jQuery -->
    <div th:replace="layout :: script"></div>

	
 </body>
 </html>