<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>OSIS SMA</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/konten.css}" rel="stylesheet"/>
	<link th:href="@{/css/default.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/home.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/plugins/morris.css}" rel="stylesheet"/>
	<link th:href="@{/css/modal.css}" rel="stylesheet" media="screen"/>
    <!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body style="background: white;">

    <div id="wrapper">

        <!-- Navigation -->
    <div th:replace="index :: nav"></div>
      </div> 
      <div class="col-4">
		
			
    
			 
	  	<form id="login-form" action="/konfigurasi" method="post">
			<div class="login-box">
					<div class="login-box-body" style="border: 2px solid #eee">
							<h3 class="login-box-msg"><img src="/image/osis_sma.png" width="70px"/><br/>OSIS SMA</h3>
							<hr/>
							<div class="form-group has-feedback">
								<div class="form-group field-configform-username required">
									<p th:if="${registerError}" class="alert alert-danger alert-dismissable">Wrong username or password!</p>
									<label class="control-label" for="konfigform-username">Nama Sekolah</label>
									<input type="text" id="nama" class="form-control" name="nama" aria-required="true"/>
											
									<div class="help-block"></div>
								</div>                
								<div class="form-group field-configform-password required">
									<label class="control-label" for="configform-email">Email Sekolah</label>
									<input type="text" id="email" class="form-control" name="email" aria-required="true"/>
									<br/>
									
									<div class="help-block"></div>
								</div>     
								<div class="form-group field-configform-password required">
									<label class="control-label" for="configform-password">Alamat Sekolah</label>
									<input type="text" id="alamat" class="form-control" name="alamat" aria-required="true"/>
									<br/>
									
									<div class="help-block"></div>
								</div>  
									<div class="form-group field-configform-password required">
									<label class="control-label" for="loginform-password">Logo Sekolah</label>
									<input type="file" name="foto" />  
									<br/>
									
									<div class="help-block"></div>
									</div>
								
								<div class="row">
								<div class="col-xs-8">
											                   
								</div>
								<div class="col-xs-12">
									<button type="submit" id="btn_submit" class="btn btn-primary btn-block btn-flat">Konfigurasi</button>
								</div>
								<!-- /.col -->
							</div>
				</div><!-- /.login-box-body -->
			</div>
			</div>
		</form>
			
			
		</div>
         
      
        <div id="page-wrapper">
			<div class="row">
				 <div class="col-lg-2">
                	</div>	
				
     
             </div><br/>
            
      </div>

<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
						<b><p class="modal-title" id="lineModalLabel">Anda perlu konfigurasi terlebih dahulu</p></b>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" th:object="${user}" th:action="@{'/create/user'}" method="post" enctype="multipart/form-data">
							
						</form>
					</div>
				</div>
			</div>
		</div>
 	
 	
 	<!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
	
 </body>
 <script type="text/javascript">
    $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            $fileName = e.target.files[0].name;
            $('#csvname').val($fileName);
        });
    });
</script>
 </html>