<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="layout :: head">
</head>

<body style="background: white;">

    <div id="wrapper">

        <!-- Navigation -->
        <div th:replace="layout :: nav"></div>
        
        <div id="page-wrapper">

            <div class="container-fluid">
       <!-- Page Heading -->
                <div class="row-center">
                    <div class="col-lg-8">
                        <h2 class="page-header">
                            Profil Anggota OSIS Siswa 
                        </h2>
                        
                      </div>
                      <div class="col-lg-1">
                           
                     </div>
                  </div>
                  
                  <div class="col-xs-12">
                           <img width="90" class="lib-img-show" src="/image/osis_sma.png"/>
                           </div>
                  
                  
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="form-group">
							<label class="col-sm-2 control-label:">Nama</label>
							<div class="col-sm-10">
								<p th:text="${siswa.nama}"></p>
							</div>
						</div>
						  <div class="form-group">
							<label class="col-sm-2 control-label:">NIS</label>
							<div class="col-sm-10">
								<p th:text="${siswa.id_user}"></p>
							</div>
						</div>
						
						
						<div class="form-group">
							<label class="col-sm-2 control-label:">Email</label>
							<div class="col-sm-10">
								<p th:text="${siswa.nama}"></p>
							</div>
							
								<div class="form-group">
							<label class="col-sm-2 control-label:">Kelas</label>
							<div class="col-sm-10">
								<p th:text="${siswa.kelas_siswa}"></p>
							</div>
							
						</div><br/>
						<div class="form-group">
							<label class="col-sm-2 control-label:">Role </label>
							<div class="col-sm-10">
								<p th:text="${siswa.role.deskripsi_role}"></p>
							</div>
						</div><br/>
					<br/>
						<div class="form-group" th:if="${profile}">
							<div class="col-sm-10">
								<a th:href="${'/edit/rolee/'+siswa.id}" class="btn btn-primary">Edit</a>
							</div>
						</div><br/>
                    </div>
                    	
                </div>
                <!-- /.row -->
        		</div>
        		
        	
          </div>
      </div>
 	
 	<!-- jQuery -->
    <div th:replace="layout :: script"></div>
 	</div>
 </body>
 </html>