<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="layout :: head">
</head>

<body style="background: white;">

    <div id="wrapper">

        <!-- Navigation -->
        <div th:replace="layout :: nav"></div>
        
        <div id="page-wrapper">

            <div class="container-fluid">
<br/>
<br/>
<br/>
                <!-- Page Heading -->
                <div class="row-center">
                    <div class="col-lg-8">
                        <h2 class="page-header-center">
                            Profile Siswa
                        </h2>
                      </div>
                      <div class="col-lg-1">
                           
                     </div>
                  </div><br/>
                  
                  <div class="col-xs-12">
                           <img width="90" class="lib-img-show" src="/image/osis_sma.png"/>
                           </div>
                  
                  
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="form-group">
							<label class="col-sm-2 control-label:">Nama</label>
							<div class="col-sm-10">
								<p th:text="${siswa.nama}"></p>
							</div>
						</div><br/>
						  <div class="form-group">
							<label class="col-sm-2 control-label:">NIS</label>
							<div class="col-sm-10">
								<p th:text="${siswa.nis}"></p>
							</div>
						</div><br/>
						
						
						<div class="form-group">
							<label class="col-sm-2 control-label:">Email</label>
							<div class="col-sm-10">
								<p th:text="${siswa.nama}"></p>
							</div>
						</div><br/>
						<div class="form-group">
							<label class="col-sm-2 control-label:">Nomor HP </label>
							<div class="col-sm-10">
								<p th:text="${siswa.no_telepon}"></p>
							</div>
						</div><br/>
						<div class="form-group">
							<label class="col-sm-2 control-label:">Alamat</label>
							<div class="col-sm-10">
								<p th:text="${siswa.alamat}"></p>
							</div>
						</div><br/>
						<br/>
						<br/>
						<br/>
						<div class="form-group" th:if="${profile}">
							<div class="col-sm-10">
								<a th:href="${'/edit/siswa/'+siswa.id}" class="btn btn-primary">Edit</a>
							</div>
						</div><br/>
                    </div>
                    	
                </div>
                <!-- /.row -->
        		</div>
        		
        	
          </div>
      </div>
 	
 	<!-- jQuery -->
    <div th:replace="layout :: script"></div>
 	
 </body>
 </html>